<div id="Dungeons">
    <div class="container" style="font-family: 'Uncial Antiqua', cursive;">
        <div class="row">
            <div class="col-8 offset-2">
            </div>
            <div class="overlay">
                <div class="container text-center">
                    <h1 style="color:white;">Dungeon Master's Workshop</h1>
                    <div class="row">
                        <div class="col-9">
                            <div class="card text-white w-85" style="background-color:rgba(0, 0, 0, 0.4)">
                                <div class="card-body">
                                    <div id="npcGroup">
                                        <button class="btn btn-secondary my-2" id="npcNewBtn" style="background-color:rgba(0, 0, 0, 0.6)">
                                            New NPC
                                        </button>
                                        <div class="row mt-3" id="npcBtns">
                                            <div class="dropdown" id="nameHover">
                                                <a class="btn btn-secondary btn-info dropdown-toggle" href="#" role="button"
                                                    id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false" style="background-color:rgba(0, 0, 0, 0.6)">
                                                    Name
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                    <a class="dropdown-item" id="randomName">Random</a>
                                                    <a class="dropdown-item" href="#"><input type="text" class="npcAttr"
                                                            id="nameForm" placeholder="Custom Name"></a>
                                                    <a id="nameIn"
                                                        class="btn-sm btn-secondary float-right mr-2">Submit</a>
                                                </div>
                                            </div>
                                            <div class="dropdown mx-1" id="raceHover">
                                                <a class="btn btn-info dropdown-toggle" href="#" role="button"
                                                    id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false" style="background-color:rgba(0, 0, 0, 0.6)">
                                                    Race
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                    <a class="dropdown-item" id="randomRace">Random</a>
                                                    <a class="dropdown-item" href="#"><input type="text" class="npcAttr"
                                                            id="raceForm" placeholder="Custom Race"></a>
                                                    <a id="raceIn"
                                                        class="btn-sm btn-secondary float-right mr-2">Submit</a>
                                                </div>
                                            </div>
                                            <div class="dropdown mx-1" id="descriptHover">
                                                <a class="btn btn-info dropdown-toggle" href="#" role="button"
                                                    id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false" style="background-color:rgba(0, 0, 0, 0.6)">
                                                    Description
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                    <a class="dropdown-item" id="randomDescript">Random</a>
                                                    <a class="dropdown-item" href="#"><input type="text" class="npcAttr"
                                                            id="descriptForm" placeholder="Custom Description"></a>
                                                    <a id="descriptIn"
                                                        class="btn-sm btn-secondary float-right mr-2">Submit</a>
                                                </div>
                                            </div>
                                            <div class="dropdown mx-1" id="personHover">
                                                <a class="btn btn-info dropdown-toggle" href="#" role="button"
                                                    id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false" style="background-color:rgba(0, 0, 0, 0.6)">
                                                    Personality
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                    <a class="dropdown-item" id="randomPerson">Random</a>
                                                    <a class="dropdown-item" href="#"><input type="text" class="npcAttr"
                                                            id="personForm" placeholder="Custom Personality"></a>
                                                    <a id="personIn"
                                                        class="btn-sm btn-secondary float-right mr-2">Submit</a>
                                                </div>
                                            </div>
                                            <div class="dropdown" id="professHover">
                                                <a class="btn btn-info dropdown-toggle" href="#" role="button"
                                                    id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false" style="background-color:rgba(0, 0, 0, 0.6)">
                                                    Profession
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                    <a class="dropdown-item" id="randomProfess">Random</a>
                                                    <a class="dropdown-item" href="#"><input type="text" class="npcAttr"
                                                            id="professForm" placeholder="Custom Profession"></a>
                                                    <a id="professIn"
                                                        class="btn-sm btn-secondary float-right mr-2" style="background-color:rgba(0, 0, 0, 0.6)">Submit</a>
                                                </div>
                                            </div>

                                            <hr>

<<<<<<< HEAD
                    <label class="sr-only" for="localeParent">Parent Locale</label>
                    <input type="text" class="form-control locale mb-2 mr-sm-2" id="localeParent" placeholder="Parent Location">
                    <button type="submit" id="submitLocale" class="btn btn-primary mb-2">Submit</button>
                </form>
            </div>
=======
                                        </div>
                                    </div>
                                    <div id="localeGroup">
                                        <button class="btn btn-secondary my-2" id="localeNewBtn" style="background-color:rgba(0, 0, 0, 0.6)">
                                            New Location
                                        </button>
                                        <form class="form-inline" id="localeForm">
                                            <label class="sr-only" for="localeTitle">Title</label>
                                            <input type="text" class="form-control locale mb-2 mr-sm-2" id="localeTitle"
                                                placeholder="Title">
>>>>>>> master

                                            <label class="sr-only" for="localeNotes">Notes</label>
                                            <input type="text" class="form-control locale mb-2 mr-sm-2" id="localeNotes"
                                                placeholder="Notes">

                                            <label class="sr-only" for="localeParent">Parent Locale</label>
                                            <input type="text" class="form-control locale mb-2 mr-sm-2"
                                                id="localeParent" placeholder="Parent Location">
                                            <button type="submit" id="submitLocale"
                                                class="btn btn-secondary mb-2" style="background-color:rgba(0, 0, 0, 0.6)">Submit</button>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-3 py-3 d-flex justify-content-center">
                            <div class="card" style="width: 18rem; background-color:rgba(0, 0, 0, 0.4)">
            <ul>
            {{#each npcs}}
                <li>{{fullname}}</li>
            {{/each}}
            </ul>
        
        </div>

                                <div class="card-body">
                                    <h5 class="card-title npcCard" id="npcCardTitle" style="color:white;">NPC Name</h5>
                                    <p class="card-text npcCard" id="npcRace" style="color:"></p>
                                    <p class="card-text npcCard" id="npcDescript"></p>
                                    <p class="card-text npcCard" id="npcPerson"></p>
                                    <p class="card-text npcCard" id="npcProfess"></p>
                                    <button id="finalizeNpc" class="btn btn-secondary" style="background-color:rgba(0, 0, 0, 0.6)">Create</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row my-5">
                        <div class="col-8">
                            <div class="col-9">
                                <div class="card text-white" style="background-color:rgba(0, 0, 0, 0.4)">
                                <div class="card-body">
                                <h2>Created Content</h2>
                            </div>

                            <div class="col-9 btn-group-vertical mx-auto">
                                {{#each npcs}}
                                <button class="btn-md displayNpc btn-info my-1" value={{id}} type="submit">
                                    {{fullname}}
                                </button>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                                </div>
                        <div class="col-6">
                            Display
                            <span id="displayName"></span>
                            <span id="displayRace"></span>
                            <span id="displayDescript"></span>
                            <span id="displayPerson"></span>
                            <span id="displayProfess"></span>

                        </div>
                    </div>
                </div>
        </div>
    </div>
<div class="col-6">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Want to join the conversation?</h1>
          <p class="lead">submit your comment below. </p>
        </div>
      <div class="card">
        <div class="card-header">
          Chat Message Center
        </div>
        <div class="card-body" id="order">
          <h5 class="card-title"></h5>
          <p class="card-text">please be respectful of your fellow players.</p>
          <form class="create-form">
        <div class="form-group">
          <label for="content">comment:</label>
          <textarea class="form-control" id="postBox" rows="3"></textarea>
        </div>
        <button class="btn btn-primary" id="sendPost" value={{user}}>Send</button>
      </form>
    </div>
  </div>
  <div class="card text-white bg-info mb-3">
    <div class="postBboard">
      <div class="card-header">recent messages</div>
      <div class="card-body">
        {{#each Post}}
       <h4>{{post}}</h4>
     <button class="change-delete btn btn-success" value={{id}} data-newdelete="{{delete}}">
           Delete!
           </button>
        {{/each}}
      </div>
    </div>
  </div>

            </div>